langchain>=0.1.11
langchain-anthropic>=0.1.15
langchain-openai>=0.1.8
langchain-google-genai>=1.0.7
pandas>=2.0
jupyterlab>=4.1
ipywidgets>=8.1
openpyxl>=3.1
python-dotenv>=1.0.1
seaborn>=0.13
google-cloud-translate>=3.15.5
google-cloud-storage>=2.18.1
langchain-google-community>=1.0.7
langchain-ollama>=0.1.1
